.root {
  &[data-variant="primary"] {
    border: none;
    background: #353e26;
    color: #ffffff;
    cursor: "pointer";
    border-radius: 10px;

    &:hover {
      background: #394329;
      color: #ffffff;
      cursor: "pointer";
    }

    .inner {
      display: flex;
      align-items: center;
      gap: 2px;
      /* height: 44px; */
    }

    &:disabled {
      color: #ffffff;
      background: #b8b8b8;
    }
  }

  &[data-variant="outline-p"] {
    border: 1px solid #9dc655;
    color: #9dc655;
    background: #f5f9ee;

    .inner {
      align-items: center;
      /* gap: 2px; */
      line-height: 20px;
    }

    .root {
      border: 1px solid #9dc655;
    }

    &:disabled {
      color: #ffffff;
      background: #b8b8b8;
      border: 1px solid #9dc655;
    }
  }

  &[data-variant="secondary"] {
    border: none;
    background: #9dc655;
    color: #141414;
    cursor: "pointer";
    border-radius: 10px;

    &:hover {
      background: #acde55;
      color: #141414;
      cursor: "pointer";
    }

    .inner {
      display: flex;
      align-items: center;
      gap: 2px;
      /* height: 44px; */
    }

    &:disabled {
      color: #ffffff;
      background: #b8b8b8;
    }
  }

  &[data-variant="dark"] {
    border: none;
    background: #000;
    color: #fff;
    cursor: "pointer";
    border-radius: 10px;

    &:hover {
      background: #000;
      color: #fff;
      cursor: "pointer";
    }

    .inner {
      display: flex;
      align-items: center;
      gap: 2px;
      /* height: 44px; */
    }
  }

  &[data-variant="outline-s"] {
    --border-color: #3fff90;
    color: #3fff90;
    border: none;

    .inner {
      display: flex;
      align-items: center;
      gap: 2px;
    }

    &:disabled {
      color: #ffffff;
      background: #b8b8b8;
    }
  }

  &[data-variant="ghost"] {
    color: #494949;
    background: #e8e8e8;
    border: none;

    .inner {
      display: flex;
      align-items: center;
      gap: 2px;
    }

    &:disabled {
      color: #a3a3a3;
      --border-color: #a3a3a3;
      border: none;

      &:hover {
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  &[data-variant="danger"] {
    color: #ffffff;
    background: #ff1d00;
    border: none;

    .inner {
      display: flex;
      align-items: center;
      gap: 2px;
    }
  }

  /* Variants for all sizes */

  &[data-size="xl"] {
    padding: 12px 64px;
    /* height: 40px; */
    border-radius: 10px;
    border: 1px solid #9dc655;

    .label {
      font-size: 14px;
      font-weight: 600;
      /* margin-inline: 6px; */
    }
  }

  &[data-size="nlg"] {
    padding: 10px 24px;
    border-radius: 10px;

    .label {
      font-size: 14px;
      font-weight: 700;
      /* margin-inline: 6px; */
    }
  }

  &[data-size="vlg"] {
    padding: 10px 43px;
    border-radius: 10px;

    .label {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &[data-size="lg"] {
    padding-inline: clamp(12px, 2vw, 24px);

    padding-block: 10px;
    border-radius: 10px;
    height: 38px;

    .label {
      font-size: 16px;
      font-weight: 600;
      /* margin-inline: 6px; */
    }
  }

  /* used */
  &[data-size="lg-v"] {
    padding-inline: 24px;
    padding-block: 10px;
    border-radius: 10px;
    height: 38px;
    .label {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &[data-size="footer"] {
    padding-inline: 16px;
    padding-block: 12px;
    border-radius: 24px;
    height: 40px;
    .label {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &[data-size="apply"] {
    padding-inline: 23px;
    padding-block: 12px;
    border-radius: 8px;
    height: 48px;
    .label {
      font-size: 16px;
      font-weight: 600;
    }
  }
  &[data-size="mdd"] {
    padding-inline: 53px;
    padding-block: 8px;
    border-radius: 8px;
    /* width: 256px; */
    height: 40px;
    .label {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &[data-size="md"] {
    height: 54px;
    cursor: "pointer";
    /* height: clamp(3rem, 3.7vw, 3.3rem); */
    /* padding: 16px 16px; */
    padding: clamp(0.5rem, 1.1vw, 1rem);
    border-radius: 8px;

    .label {
      font-size: 16px;
      font-weight: 500;
      font-family: Satoshi Variable;
      margin-inline: 6px;
    }
  }

  &[data-size="sm"] {
    padding: 6px 10px;
    border-radius: 8px;

    .label {
      font-size: 14px;
      font-weight: 500;
      font-family: Inter;
      margin-inline: 6px;
    }
  }

  /* General disabled style */
  &[data-disabled] {
    &:focus {
      border: none;
      cursor: not-allowed;
    }
    & .section[data-position="left"] {
      opacity: 0.6;
    }
    & .section[data-position="right"] {
      opacity: 0.6;
    }
  }

  /* Styles for the left and right section */

  .section[data-position="left"] {
    margin: 0px;
  }
  .section[data-position="right"] {
    margin: 0px;
  }
}
